* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Varela Round;
    font-size: 1.5rem;
}

.logoText, .navText, .aboutHeading, .jumboTitle, .waterlessHeading, .processHeadings {
    font-family: Righteous;
}

.aboutParagraph {
    font-size: 1.875rem;
    text-indent: 50px;
    line-height: 1.8;
    margin: 15px 10px;
}

.buttonText {
    font-family: Righteous;
}

.pinIcon {
    text-align: center;
    width: 100%;
    margin: 5px 0px 20px 0px;
}

